*{
    width: 99%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.pai1{
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;    
}

.filhoHome{
    background-color: purple;
    flex-direction: row;
    justify-content: flex-end;

}

.filhoImagem{
    
    background-color: pink;
    flex-direction: row;
}

.pai2{
    background-color: antiquewhite;
    flex-direction: row;
}

.footer{
    background-color: rgba(0, 0, 0, 0.13);
}

#footer1{
    font-style: white;
}