*{
    
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.header{
    background-color: #e8e6e6;
}

.pai1{
    width: 100%;
    display: flex;
    flex-direction: column;    
}

.filhoHome{
    flex-direction: row;
    justify-content: flex-end;

}

.filhoImagem{
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    height: 50%;
}

#peixeGrande{
    width: 30%;
    height: 500px;
}

#imagemPeixe{
    width: 70%;
}

.pai2{
    background-color: #e8e6e6;
    flex-direction: row;
}

.mapa{
    background-color: white;
}

.footer{
    background-color: black
}

#footer1{
    color: white;
}